.footer {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;

    color: #055693;
}

.logo {
    margin-right: 1rem;
    font-weight: bold;
}

.sign {
    color: #FBBc05;
}