@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  font-family: 'Noto Sans', sans-serif;

  background-image: linear-gradient(to right, #fff, #DADDE2);
  background-position: center center;
  background-size: cover;
}

h1 {
  font-size: 5rem;
}

h2 {
  color: #055693;
  font-size: 2rem;
  text-align: center;
}

li {
  list-style: none;
}

a {
  color: inherit;
}